.album-details
  position: static
  max-height: 0
  overflow: hidden
  transition: all .6s ease-out
  background: $monoThird
  color: white
  border-radius: 10px
  &.is-expanded
    max-height: 100vh
    margin-top: 375px

  .darken
    border-radius: 10px
    // background: black

  #name-logo
    margin: 65px auto 0
    padding: 0 18.75px
    width: 100%
    height: auto
    z-index: 2
    *
      fill: white

  h3
    padding: 0
    margin: 0
    text-align: center
    font-weight: normal
    letter-spacing: 9px

  .contents
    display: grid
    grid-template-rows: auto 1fr auto auto

    .track-list
      text-align: center
      list-style-position: 
      padding: 0
      align-self: center
      li
        font-size: 1.25em
        text-transform: uppercase

    ul
      text-align: left
      list-style-type: none
      margin: 5px 18.75px
      padding: 0
      &:last-of-type
        margin-bottom: 18.75px
      li
        font-size: .75em