body
  min-height: 200vh
  font-family: 'Taviraj', serif

button
  background: none
  border: none
  padding: 0
  margin: 0
  
.body-text
  width: 85vw
  min-height: 300px
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center

.hide
  display: none
