.contact
  margin-bottom: 75px

  .form
    +section()

    h1
      +section-header()

    // .tagline
    //   width: 90%
    //   margin: 37.5px auto
    //   text-align: center

    form
      width: 90%
      margin: 0 auto

      .inputs
        border: 1px $monoPrimary solid
        box-shadow: inset $shadow
        border-radius: 2px
        padding: 10px
        margin: 0 auto
        margin-bottom: 22.5px
        display: grid
        grid-auto-rows: 100%
        grid-gap: 18.75px
        max-height: 500px
        max-width: 1000px
        transition: all .5s cubic-bezier(0.36,-0.32, 0.23, 1.17)
        &:hover
          box-shadow: $shadow
        &.sent
          overflow: hidden
          max-height: 0
          padding: 0
          max-width: 75px
          // border: none
        
        label
          input
            height: 37.5px
            width: 100%
            padding-left: 10px

      textarea
        width: 100%
        height: 112.5px
        padding: 10px

      .contact-button
        +button($monoFifth)
        &.disabled
          color: lighten($monoFourth, 15%)
          background: $slantGrade
          pointer-events: none
        &.btn-sent
          color: white
          background: $slantGrade

    .contact-icons
      width: 90%
      margin: 75px auto 0
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 20px

      a
        text-decoration: none
        color: $monoPrimary
        transition: .5s all ease
        &:hover
          color: $monoFifth
          svg
            #background
              fill: $monoFifth
        &:first-of-type
          grid-column: span 2

      .icon-set
        // margin: 0 auto
        border: 1px solid $monoPrimary
        padding: 10px 0
        border-radius: 2px
        // width: 90%
        box-shadow: inset $shadow
        &:hover
          box-shadow: $shadow
        a
          display: block
          
        svg
          max-width: 50px
          max-height: 50px
          display: block
          margin: 0 auto

          #background
            fill: $monoFourth
          #phone, #envelope, #text-lines
            fill: $monoPrimary

        h4, p
          text-align: center
          margin: 0
          padding: 0

