.contact
  // text-align: center
  margin-bottom: 75px

  .form
    width: 90vw
    padding: 2px
    margin: 0 auto
    margin-top: -100px
    background: white

    form
      width: 90%
      margin: 0 auto
      display: grid
      grid-gap: 10px
      grid-template-columns: 1fr 1fr
      grid-auto-rows: auto
      // text-align: center



      textarea
        grid-column: span 2
        width: 100%
        height: 10em

      button
        grid-column: span 2
        background: red
