.main
  position: relative

  .hero-image
    height: 300px
    .darken
      display: flex
      justify-content: center


    #name-logo
      width: 90vw
      height: auto
      *
        fill: white
