.main
  position: relative
  min-height: 100vh

  .hero-image
    height: 300px
    .darken
      display: flex
      justify-content: center

    #name-logo
      width: 90vw
      height: auto
      *
        fill: white

// MEDIA QUERIES
@media (min-width: $midBreak)
  .main
    .hero-image
      #name-logo
        width: 60vw

    .quotes-social
      display: grid
      grid-template-columns: 1fr 75px
      width: 90vw
      max-width: 550px
      margin: 37.5px auto
      // background: pink
    
    
    .socials
      flex-direction: column
      // background: lightgreen
      height: 225px
      width: 37.5px
      margin: auto 0
      justify-self: end
    
    .mailchimp
      grid-column: span 2

@media (min-width: $largeBreak)
  .main
    .hero-image
      height: 50vh
      min-height: 325px
      svg
        max-width: 600px
        height: auto