.mailchimp
  // background: pink
  margin-bottom: 75px

  h3
    margin: 0 auto
    text-align: center
  
  form
    width: 90%
    max-width: 550px
    margin: 0 auto
    -webkit-appearance: none
    textarea, input
      outline: none

    .inputs
      // border: 1px $monoPrimary solid
      // box-shadow: inset $shadow
      border-radius: 2px
      padding: 10px
      margin: 0 auto
      margin-bottom: 22.5px
      display: grid
      grid-auto-rows: 100%
      // grid-gap: 18.75px
      box-shadow: 0px 6px 12px -4px rgba($monoPrimary, .75)
      
        

      label
        -webkit-appearance: none
        margin: 0
        input
          border-radius: 0
          height: 50px
          width: 100%
          padding-left: 10px
          font-size: 1rem
          letter-spacing: 2px
          text-align: center
          border: 0
          // -webkit-appearance: none
          // outline: none

      .contact-button
        -webkit-appearance: none
        border-radius: 0
        border: 0
        +button(rgba($monoFifth,.75))
        height: 37.5px
        font-size: 1rem
        cursor: pointer
        padding: 0
        &:hover
          background: $monoFifth

  @media (min-width: $midBreak)
    form
      .inputs
        grid-template-columns: auto auto
        label
          input
            text-align: left
        .contact-button
          width: auto
          height: 50px
          left: 0
          transform: none