.music
  margin-bottom: 75px

  .content
    +section()
    // position: relative
    // z-index: 2

    h1
      +section-header()
    
    .tag-line
      width: 90%
      display: flex
      flex-direction: column
      justify-content: center
      min-height: 150px
      margin: 0 auto
      // background: pink
      
      p
        margin: 0 auto
        // color: white
        // text-transform: uppercase
        text-align: center
        // font-size: .75em
        
          

    .too-big-to-fail
      margin: 0 auto
      width: 90vw
      height: 90vw
      border-radius: 3px
      position: relative
      z-index: 1
      cursor: pointer
      box-shadow: $float-shadow
      
  .cd
    margin: 0 auto
    width: 90%
    position: relative
    .cd-disc
      // position: absolute
      // width: 100%
      margin-top: -45vw
      z-index: 0
      
      #cd
        // margin-top: -270px
        cursor: pointer
        // position: absolute
        width: 100%
        height: 100%
    
  .streamers
    +icon-spread(37.5px)
    
  @media (min-width: $midBreak)
    .content
      display: grid
      grid-template-columns: 2fr 1fr
      grid-template-rows: auto 225px auto auto
      h1
        grid-column: span 2

      .streamers
        max-width: 375px

      .cd-and-case
        margin-bottom: 20px
        grid-row: span 3
        .too-big-to-fail
          width: 58vw
          height: 58vw
        .cd
          .cd-disc
            width: 55vw
            margin: 0 auto
            margin-top: -30vw
            #cd
              width: 55vw
              height: 55vw
          
