.music
  iframe
    display: block
    width: 100%
    margin: 37.5px auto 0

  .tag-line
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 150px
    margin: 0 auto
    // background: pink
    
    p
      margin: 0 auto
      // color: white
      // text-transform: uppercase
      text-align: center
      // font-size: .75em
      
        

  .too-big-to-fail
    margin: 0 auto
    width: 300px
    height: 300px
    border-radius: 3px
    position: relative
    z-index: 1
    // cursor: pointer
    box-shadow: $float-shadow
    

  .cd
    margin-top: -150px
    #cd
      display: block
      width: 290px
      height: 290px
      margin: 0 auto
  
.streamers
  +icon-spread(37.5px)
