.nav
  background: rgba(255,255,255,.5)
  position: fixed
  z-index: 100
  height: 37.5px
  top: 0
  left: 0
  right: 0

  .nav-bar
    width: 90vw
    height: 100%
    margin: 0 auto
    display: flex
    flex-direction: row
    justify-content: space-between

    #blimp-icon, #hamburger
      width: 37.5px
      height: 37.5px
      *
        fill: $darkblue

    &.open
      #blimp-icon, #hamburger
        *
          // fill: white

  
  .nav-buttons
    display: flex
    flex-direction: column
    justify-content: space-around

    button
      color: white
      margin: 15px
      font-size: 1.5em
      background: black