.shows
  margin-bottom: 75px

  .content
    +section()

    h1
      +section-header()

    .calendar-container
      margin: 0 auto
      width: 90%
      // border: 1px solid pink

    p
      width: 90%
      margin: 0 auto
      text-align: center