// compound
$darkblue: #262355
$blue: #433d99
$lightblue: #0077ff
$gold: #ffa340
$darkgold: #cc5914

$red: #FF0000

// monochromatic
$monoPrimary: #262355
$monoSecondary: #BAB5FF
$monoThird: #7269ff
$monoFourth: #5d5b7f
$monoFifth: #5b54cc

// gradient
$slantGrade: linear-gradient(45deg,darken(rgba($monoPrimary,.95),10%),rgba($monoFourth,.75))
$edgeGrade: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%)

// media query breaks
$midBreak: 550px
$largeBreak: 750px

// box-shadow
$shadow: 0px 5px 8px -6px rgba($monoPrimary, .75)
$float-shadow: 0px 5px 10px -4px rgba($monoPrimary, .5)

// width and height 16:9 ratio
=sixteenNine($width: 25vw)
  width: $width
  height: calc($width * .5625)

// social and streaming icons
=icon-spread($height)
  height: $height
  width: 90%
  max-width: 550px
  margin: 0 auto
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  
  svg
    height: 37.5px
    width: 37.5px
    border-radius: 3px
    *
      fill: url(#primary-fourth)
    &:hover
      *
        fill: $monoPrimary

// background image sections
=background-image-section($marginBottom)
  background: $monoPrimary
  margin-bottom: $marginBottom
  text-align: center
  position: relative

// Buttons
=button($bg-color)
  background: $bg-color
  position: relative
  width: 187.5px
  height: 50px
  text-transform: uppercase
  color: white
  font-size: 1.25em
  letter-spacing: 2px
  border-radius: 2px
  left: 50%
  transform: translateX(-50%)

// Inputs
=input($align: center)
  border-radius: 0
  height: 50px
  width: 100%
  padding-left: 10px
  font-size: 1rem
  letter-spacing: 2px
  text-align: $align
  border: 0
  box-shadow: inset $float-shadow
  background: rgba($monoPrimary,.05)