// compound
$darkblue: #262355
$blue: #433d99
$lightblue: #0077ff
$gold: #ffa340
$darkgold: #cc5914

$red: #FF0000

// monochromatic
$monoPrimary: #262355
$monoSecondary: #BAB5FF
$monoThird: #7269ff
$monoFourth: #5d5b7f
$monoFifth: #5b54cc

// gradient
$slantGrade: linear-gradient(45deg,darken(rgba($monoPrimary,.95),10%),rgba($monoFourth,.75))

// media query breaks
$midBreak: 550px
$largeBreak: 750px

// box-shadow
$shadow: 0px 5px 8px -6px rgba($monoPrimary, .75)
$float-shadow: 0px 5px 12px -2px rgba($monoPrimary, .75)

// section setup
=section($color: rgba($gold,1))
  width: 95vw
  padding: 2px
  padding-bottom: 37.5px
  margin: 0 auto
  margin-top: -150px
  background: white
  border-radius: 2px
  border-top: 10px solid $color
  box-shadow: $float-shadow

// section header
=section-header()
  font-size: 30px
  margin: 22.5px auto
  font-weight: normal
  line-height: 30px
  width: 100%
  height: 30px
  text-transform: uppercase
  letter-spacing: 2px
  text-align: center

// social and streaming icons
=icon-spread($height)
  height: $height
  width: 90%
  margin: 0 auto
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  
  svg
    height: 37.5px
    width: 37.5px
    border-radius: 3px
    *
      fill: url(#primary-fourth)
    &:hover
      *
        fill: $monoPrimary

// background image sections
=background-image-section($marginBottom)
  background: $monoPrimary
  margin-bottom: $marginBottom
  text-align: center
  position: relative

// Buttons
=button($bg-color)
  background: $bg-color
  position: relative
  width: 187.5px
  height: 50px
  text-transform: uppercase
  color: white
  font-size: 1.25em
  letter-spacing: 2px
  border-radius: 2px
  left: 50%
  transform: translateX(-50%)