@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  min-height: 200vh;
  font-family: 'Taviraj', serif; }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.hide {
  display: none; }

.background {
  height: 300px; }

.darken {
  background: linear-gradient(45deg, rgba(22, 20, 49, 0.95), rgba(93, 91, 127, 0.75));
  width: 100%;
  height: 100%; }

.arrow {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-radius: 2px; }
  .arrow.up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #262355; }
  .arrow.down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262355; }
  .arrow.left {
    border-top: 10px solid transparent;
    border-right: 10px solid #262355;
    border-bottom: 10px solid transparent; }
  .arrow.right {
    border-top: 10px solid transparent;
    border-left: 10px solid #262355;
    border-bottom: 10px solid transparent; }

.nav {
  background: rgba(186, 181, 255, 0.5);
  position: fixed;
  z-index: 100;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s; }
  .nav.full {
    height: 100vh;
    background: rgba(38, 35, 85, 0.95); }
  .nav .nav-bar {
    width: 90vw;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .nav .nav-bar #blimp-icon, .nav .nav-bar #hamburger {
      width: 37.5px;
      height: 37.5px; }
      .nav .nav-bar #blimp-icon *, .nav .nav-bar #hamburger * {
        fill: #262355; }
    .nav .nav-bar.open #blimp-icon *, .nav .nav-bar.open #hamburger * {
      fill: white; }
  .nav .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh; }
    .nav .nav-buttons a {
      text-align: center; }
    .nav .nav-buttons button {
      color: white;
      margin: 15px;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: 10px; }

.main {
  position: relative; }
  .main .hero-image {
    height: 300px; }
    .main .hero-image .darken {
      display: flex;
      justify-content: center; }
    .main .hero-image #name-logo {
      width: 90vw;
      height: auto; }
      .main .hero-image #name-logo * {
        fill: white; }

.socials {
  height: 150px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .socials svg {
    height: 37.5px;
    width: 37.5px;
    border-radius: 3px; }
    .socials svg * {
      fill: url(#primary-fourth); }
    .socials svg:hover * {
      fill: #262355; }

.nav .nav-buttons svg * {
  fill: white; }

.quotes-container .quotes {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 300px; }
  .quotes-container .quotes .quote {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .quotes-container .quotes .quote .testiment {
      width: 90%; }
    .quotes-container .quotes .quote .author {
      align-self: flex-end;
      width: 75%;
      text-align: right;
      font-weight: bold;
      font-size: .75em; }
  .quotes-container .quotes .arrow {
    margin: 15px; }

.quotes-container .dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  margin: 0 auto;
  margin-top: -20px; }
  .quotes-container .dots .dot {
    width: 10px;
    height: 10px;
    border: 1px solid #262355;
    border-radius: 50%; }
    .quotes-container .dots .dot.full {
      background: #262355; }

.music .background {
  background: #262355;
  margin-bottom: 150px;
  text-align: center;
  position: relative; }
  .music .background .content {
    position: relative;
    z-index: 2; }
    .music .background .content .tag-line {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 150px;
      margin: 0 auto; }
      .music .background .content .tag-line p {
        margin: .5em;
        color: white;
        text-transform: uppercase;
        font-size: .75em; }
    .music .background .content .too-big-to-fail {
      margin: 0 auto;
      width: 300px;
      height: 300px;
      border-radius: 3px;
      position: relative;
      z-index: 1;
      box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75); }

.music .cd {
  margin: 0 auto;
  width: 290px;
  margin-top: -270px;
  cursor: pointer; }
  .music .cd #cd {
    width: 100%;
    height: 100%; }

.music .streamers {
  height: 187.5px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .music .streamers svg {
    height: 37.5px;
    width: 37.5px;
    border-radius: 3px; }
    .music .streamers svg * {
      fill: url(#primary-fourth); }
    .music .streamers svg:hover * {
      fill: #262355; }

.album-details {
  position: static;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
  background: #7269ff;
  color: white;
  border-radius: 10px; }
  .album-details.is-expanded {
    max-height: 200vh; }
  .album-details .darken {
    border-radius: 10px; }
  .album-details #name-logo {
    margin: 65px auto 0;
    padding: 0 18.75px;
    width: 100%;
    height: auto;
    z-index: 2; }
    .album-details #name-logo * {
      fill: white; }
  .album-details h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
    letter-spacing: 9px; }
  .album-details .contents {
    display: grid;
    grid-template-rows: auto auto 400px auto auto;
    margin-bottom: 5px; }
    .album-details .contents .spacer {
      height: 225px; }
    .album-details .contents .track-list {
      text-align: center;
      padding: 0;
      align-self: center; }
      .album-details .contents .track-list li {
        font-size: .95em;
        text-transform: uppercase; }
    .album-details .contents ul {
      text-align: left;
      list-style-type: none;
      margin: 5px 18.75px;
      padding: 0; }
      .album-details .contents ul li {
        font-size: .75em; }

.video .background {
  background: #262355;
  margin-bottom: 150px;
  text-align: center;
  position: relative; }
  .video .background .content {
    color: white;
    position: relative; }
    .video .background .content h2 {
      background: rgba(114, 105, 255, 0.5);
      text-align: center;
      position: absolute;
      width: 100%;
      top: 150px;
      transform: translateY(-50%);
      text-transform: uppercase; }
    .video .background .content .iframe-container {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%); }

.video .video-links {
  min-height: 187.5px;
  width: 300px;
  margin: 0 auto; }
  .video .video-links .more-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 37.5px 0; }
    .video .video-links .more-videos .video-thumbnail {
      width: 75px;
      height: 75px; }
  .video .video-links .for-more-videos {
    margin: 0;
    margin-top: 150px; }
  .video .video-links .subscribe {
    margin-bottom: 75px; }
    .video .video-links .subscribe p {
      margin: 0;
      margin-bottom: 37.5px;
      text-align: right; }
    .video .video-links .subscribe .button-red {
      background: #ff2d1d;
      position: relative;
      width: 187.5px;
      height: 50px;
      text-transform: uppercase;
      color: white;
      font-size: 1.25em;
      letter-spacing: 2px;
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%); }

.pictures {
  margin-bottom: 75px; }
  .pictures .photo-album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 5px;
    width: 90vw;
    margin: 0 auto;
    margin-top: -100px; }
    .pictures .photo-album img {
      max-width: 100%;
      height: auto;
      cursor: pointer; }
    .pictures .photo-album .image2, .pictures .photo-album .image4, .pictures .photo-album .image7, .pictures .photo-album .image9 {
      grid-row: span 2; }
    .pictures .photo-album .image6 {
      grid-column: span 2; }
    .pictures .photo-album .enlarge {
      position: fixed;
      max-height: 95vh;
      max-width: 95vw;
      left: 50vw;
      top: 50vh;
      transform: translate(-50%, -50%);
      transition: max-width .3s ease-in-out;
      z-index: 101; }
    .pictures .photo-album .large-image-background {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(45deg, #06050d, #313044);
      z-index: 100; }

.shows {
  margin-bottom: 75px; }

.contact {
  margin-bottom: 75px; }
  .contact .form {
    padding-left: 10px; }

.footer {
  background: linear-gradient(45deg, #161431, #5d5b7f); }
  .footer .socials svg * {
    fill: white; }
  .footer p {
    margin: 0;
    padding-bottom: .75em;
    color: white;
    text-align: center;
    font-size: .75em; }
