@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  min-height: 200vh;
  font-family: 'Taviraj', serif; }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.hide {
  display: none; }

.background {
  height: 300px; }

.darken {
  background: linear-gradient(45deg, rgba(22, 20, 49, 0.95), rgba(93, 91, 127, 0.75));
  width: 100%;
  height: 100%; }

.arrow {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-radius: 2px; }
  .arrow.up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #262355; }
  .arrow.down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262355; }
  .arrow.left {
    border-top: 10px solid transparent;
    border-right: 10px solid #262355;
    border-bottom: 10px solid transparent; }
  .arrow.right {
    border-top: 10px solid transparent;
    border-left: 10px solid #262355;
    border-bottom: 10px solid transparent; }

.nav {
  background: rgba(186, 181, 255, 0.5);
  position: fixed;
  z-index: 100;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s; }
  .nav.full {
    height: 100vh;
    background: rgba(38, 35, 85, 0.95); }
  .nav .nav-bar {
    width: 90vw;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav .nav-bar a {
      height: 39.5px; }
    .nav .nav-bar #blimp-icon, .nav .nav-bar #hamburger {
      width: 37.5px;
      height: 37.5px; }
      .nav .nav-bar #blimp-icon *, .nav .nav-bar #hamburger * {
        fill: #262355; }
    .nav .nav-bar.open #blimp-icon *, .nav .nav-bar.open #hamburger * {
      fill: white; }
  .nav .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh; }
    .nav .nav-buttons a {
      text-align: center;
      text-decoration: none;
      width: 50%;
      margin: 0 auto; }
      .nav .nav-buttons a .nav-icon, .nav .nav-buttons a .icon {
        width: 37.5px;
        height: 37.5px;
        display: none;
        border-radius: 3px; }
    .nav .nav-buttons h4 {
      color: white;
      margin: 5px;
      text-transform: uppercase;
      letter-spacing: 10px; }
  @media (min-width: 550px) {
    .nav.full {
      padding: 9.375px 5vw 0;
      height: 56.25px;
      display: flex;
      flex-direction: row;
      background: rgba(186, 181, 255, 0.5); }
    .nav .nav-bar {
      width: 25vw;
      height: 37.5px;
      flex-direction: row; }
      .nav .nav-bar.open #blimp-icon * {
        fill: #262355; }
    .nav .nav-buttons {
      flex-direction: row;
      justify-content: flex-end;
      width: 65vw;
      height: auto; }
      .nav .nav-buttons a {
        margin: 0;
        width: auto;
        margin-left: 37.5px; }
        .nav .nav-buttons a .nav-icon, .nav .nav-buttons a .icon {
          display: block; }
          .nav .nav-buttons a .nav-icon *, .nav .nav-buttons a .icon * {
            fill: #262355; }
        .nav .nav-buttons a h4 {
          display: none; } }

.mailchimp {
  margin-bottom: 75px; }
  .mailchimp h3 {
    margin: 0 auto;
    text-align: center; }
  .mailchimp form {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    -webkit-appearance: none; }
    .mailchimp form textarea, .mailchimp form input {
      outline: none; }
    .mailchimp form .inputs {
      border-radius: 2px;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 22.5px;
      display: grid;
      grid-auto-rows: 100%;
      box-shadow: 0px 6px 12px -4px rgba(38, 35, 85, 0.75); }
      .mailchimp form .inputs label {
        -webkit-appearance: none;
        margin: 0; }
        .mailchimp form .inputs label input {
          border-radius: 0;
          height: 50px;
          width: 100%;
          padding-left: 10px;
          font-size: 1rem;
          letter-spacing: 2px;
          text-align: center;
          border: 0; }
      .mailchimp form .inputs .contact-button {
        -webkit-appearance: none;
        border-radius: 0;
        border: 0;
        background: rgba(91, 84, 204, 0.75);
        position: relative;
        width: 187.5px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 1.25em;
        letter-spacing: 2px;
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%);
        height: 37.5px;
        font-size: 1rem;
        cursor: pointer;
        padding: 0; }
        .mailchimp form .inputs .contact-button:hover {
          background: #5b54cc; }
  @media (min-width: 550px) {
    .mailchimp form .inputs {
      grid-template-columns: auto auto; }
      .mailchimp form .inputs label input {
        text-align: left; }
      .mailchimp form .inputs .contact-button {
        width: auto;
        height: 50px;
        left: 0;
        transform: none; } }

.main {
  position: relative; }
  .main .hero-image {
    height: 300px; }
    .main .hero-image .darken {
      display: flex;
      justify-content: center; }
    .main .hero-image #name-logo {
      width: 90vw;
      height: auto; }
      .main .hero-image #name-logo * {
        fill: white; }

@media (min-width: 550px) {
  .main .hero-image #name-logo {
    width: 60vw; }
  .main .quotes-social {
    display: grid;
    grid-template-columns: 1fr 75px;
    width: 90vw;
    margin: 37.5px auto; }
  .main .socials {
    flex-direction: column;
    height: 225px;
    width: 37.5px;
    margin: auto 0;
    justify-self: end; } }

.socials {
  height: 150px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .socials svg {
    height: 37.5px;
    width: 37.5px;
    border-radius: 3px; }
    .socials svg * {
      fill: url(#primary-fourth); }
    .socials svg:hover * {
      fill: #262355; }

.nav .nav-buttons svg * {
  fill: white; }

.quotes-container .quotes {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 300px; }
  .quotes-container .quotes .quote {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .quotes-container .quotes .quote .testiment {
      width: 90%; }
    .quotes-container .quotes .quote .author {
      align-self: flex-end;
      width: 75%;
      text-align: right;
      font-weight: bold;
      font-size: .75em; }
  .quotes-container .quotes .arrow {
    margin: 15px; }

.quotes-container .dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  margin: 0 auto;
  margin-top: -20px; }
  .quotes-container .dots .dot {
    width: 10px;
    height: 10px;
    border: 1px solid #262355;
    border-radius: 50%;
    transition: background .5s ease; }
    .quotes-container .dots .dot.full {
      background: #262355; }

@media (min-width: 550px) {
  .quotes-container {
    display: grid;
    grid-template-columns: 75px 1fr; }
    .quotes-container .quotes {
      grid-column: 2;
      flex-direction: column; }
      .quotes-container .quotes .quote {
        height: 225px;
        width: 337.5px; }
      .quotes-container .quotes .arrow.left {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #262355; }
      .quotes-container .quotes .arrow.right {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #262355; }
    .quotes-container .dots {
      grid-column: 1;
      grid-row: 1;
      height: 150px;
      margin: auto 0;
      width: 37.5px;
      flex-direction: column;
      justify-self: start; }
      .quotes-container .dots .dot {
        margin: 0 auto; } }

.music {
  margin-bottom: 75px; }
  .music .content {
    width: 95vw;
    padding: 2px;
    margin: 0 auto;
    margin-top: -150px;
    background: white;
    border-radius: 2px;
    border-top: 10px solid #ffa340; }
    .music .content h1 {
      font-size: 30px;
      margin: 22.5px auto;
      font-weight: normal;
      line-height: 30px;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .music .content .tag-line {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 150px;
      margin: 0 auto; }
      .music .content .tag-line p {
        margin: 0 auto;
        text-align: center; }
    .music .content .too-big-to-fail {
      margin: 0 auto;
      width: 90vw;
      height: 90vw;
      border-radius: 3px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75); }
  .music .cd {
    margin: 0 auto;
    width: 90%;
    position: relative; }
    .music .cd .cd-disc {
      margin-top: -45vw;
      z-index: 0; }
      .music .cd .cd-disc #cd {
        cursor: pointer;
        width: 100%;
        height: 100%; }
  .music .streamers {
    height: 37.5px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .music .streamers svg {
      height: 37.5px;
      width: 37.5px;
      border-radius: 3px; }
      .music .streamers svg * {
        fill: url(#primary-fourth); }
      .music .streamers svg:hover * {
        fill: #262355; }

.album-details {
  position: relative;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
  background: #7269ff;
  color: white;
  border-radius: 0 0 2px 2px; }
  .album-details.is-expanded {
    max-height: 200vh; }
  .album-details .darken {
    border-radius: 0 0 2px 2px; }
  .album-details #name-logo {
    padding: 18.75px;
    width: 100%;
    height: auto;
    z-index: 2; }
    .album-details #name-logo * {
      fill: white; }
  .album-details h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
    letter-spacing: 9px; }
  .album-details .contents {
    display: grid;
    grid-template-rows: auto 400px auto auto;
    grid-gap: 20px;
    margin-bottom: 10px; }
    .album-details .contents .track-list {
      text-align: center;
      padding: 0;
      align-self: center; }
      .album-details .contents .track-list li {
        padding: 5px 0 0; }
      .album-details .contents .track-list .bandcamp-player {
        max-height: 0;
        transform: all .5s ease; }
        .album-details .contents .track-list .bandcamp-player.show {
          max-height: 42px; }
    .album-details .contents ul {
      text-align: left;
      list-style-type: none;
      margin: 5px 18.75px;
      padding: 0; }
      .album-details .contents ul li {
        font-size: .75em; }

.video {
  margin-bottom: 75px; }
  .video .content {
    width: 95vw;
    padding: 2px;
    margin: 0 auto;
    margin-top: -150px;
    background: white;
    border-radius: 2px;
    border-top: 10px solid #ffa340; }
    .video .content h1 {
      font-size: 30px;
      margin: 22.5px auto;
      font-weight: normal;
      line-height: 30px;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .video .content .iframe-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
      width: 90%;
      margin: 0 auto; }
      .video .content .iframe-container .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0; }
    .video .content .video-links {
      min-height: 187.5px;
      width: 90%;
      margin: 75px auto 0; }
      .video .content .video-links .more-videos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 37.5px 0; }
        .video .content .video-links .more-videos .video-thumbnail {
          width: 75px;
          height: 75px; }
      .video .content .video-links .for-more-videos {
        margin: 0; }
      .video .content .video-links .subscribe p {
        margin: 0;
        margin-bottom: 37.5px;
        text-align: right; }
      .video .content .video-links .subscribe .button-red {
        background: #ff4d4d;
        position: relative;
        width: 187.5px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 1.25em;
        letter-spacing: 2px;
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%); }
        .video .content .video-links .subscribe .button-red:hover {
          background: #FF0000;
          box-shadow: 0px 5px 8px -6px rgba(38, 35, 85, 0.75); }
  @media (min-width: 550px) {
    .video .content .video-links {
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows: 37.5px auto;
      grid-template-areas: "more-videos for-more-videos" "more-videos subscribe"; }
      .video .content .video-links .for-more-videos {
        grid-area: for-more-videos; }
      .video .content .video-links .more-videos {
        grid-area: more-videos;
        flex-direction: column;
        margin: 0; }
        .video .content .video-links .more-videos a {
          padding: 10px 0; }
      .video .content .video-links .subscribe {
        grid-area: subscribe; } }

.pictures {
  margin-bottom: 75px; }
  .pictures .photos-container {
    width: 95vw;
    padding: 2px;
    margin: 0 auto;
    margin-top: -150px;
    background: white;
    border-radius: 2px;
    border-top: 10px solid #ffa340; }
    .pictures .photos-container h1 {
      font-size: 30px;
      margin: 22.5px auto;
      font-weight: normal;
      line-height: 30px;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .pictures .photos-container .photo-album {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 5px;
      width: 90%;
      margin: 0 auto; }
      .pictures .photos-container .photo-album img {
        max-width: 100%;
        height: auto;
        cursor: pointer; }
      .pictures .photos-container .photo-album .image2, .pictures .photos-container .photo-album .image4, .pictures .photos-container .photo-album .image7, .pictures .photos-container .photo-album .image9 {
        grid-row: span 2; }
      .pictures .photos-container .photo-album .image6 {
        grid-column: span 2; }
      .pictures .photos-container .photo-album .enlarge {
        position: fixed;
        max-height: 95vh;
        max-width: 95vw;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        transition: max-width .3s ease-in-out;
        z-index: 101; }
      .pictures .photos-container .photo-album .large-image-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(45deg, #06050d, #313044);
        z-index: 100; }

.shows {
  margin-bottom: 75px; }
  .shows .content {
    width: 95vw;
    padding: 2px;
    margin: 0 auto;
    margin-top: -150px;
    background: white;
    border-radius: 2px;
    border-top: 10px solid #ffa340; }
    .shows .content h1 {
      font-size: 30px;
      margin: 22.5px auto;
      font-weight: normal;
      line-height: 30px;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .shows .content .calendar-container {
      margin: 0 auto;
      width: 90%; }
    .shows .content p {
      width: 90%;
      margin: 0 auto;
      text-align: center; }

.contact {
  margin-bottom: 75px; }
  .contact .form {
    width: 95vw;
    padding: 2px;
    margin: 0 auto;
    margin-top: -150px;
    background: white;
    border-radius: 2px;
    border-top: 10px solid #ffa340; }
    .contact .form h1 {
      font-size: 30px;
      margin: 22.5px auto;
      font-weight: normal;
      line-height: 30px;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .contact .form form {
      width: 90%;
      margin: 0 auto; }
      .contact .form form .inputs {
        box-shadow: 0px 6px 12px -4px rgba(38, 35, 85, 0.75);
        border-radius: 2px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 22.5px;
        display: grid;
        grid-auto-rows: 100%;
        grid-gap: 18.75px;
        max-height: 500px;
        max-width: 1000px;
        transition: all 0.5s cubic-bezier(0.36, -0.32, 0.23, 1.17); }
        .contact .form form .inputs:hover {
          box-shadow: 0px 5px 8px -6px rgba(38, 35, 85, 0.75); }
        .contact .form form .inputs.sent {
          border: 1px #262355 solid;
          overflow: hidden;
          max-height: 0;
          padding: 0;
          max-width: 75px; }
        .contact .form form .inputs label input {
          height: 37.5px;
          width: 100%;
          padding-left: 10px; }
      .contact .form form textarea {
        width: 100%;
        height: 112.5px;
        padding: 10px; }
      .contact .form form .contact-button {
        background: #5b54cc;
        position: relative;
        width: 187.5px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 1.25em;
        letter-spacing: 2px;
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%); }
        .contact .form form .contact-button.disabled {
          color: #8381a5;
          background: linear-gradient(45deg, rgba(22, 20, 49, 0.95), rgba(93, 91, 127, 0.75));
          pointer-events: none; }
        .contact .form form .contact-button.btn-sent {
          color: white;
          background: linear-gradient(45deg, rgba(22, 20, 49, 0.95), rgba(93, 91, 127, 0.75)); }
    .contact .form .contact-icons {
      width: 90%;
      margin: 75px auto 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; }
      .contact .form .contact-icons a {
        text-decoration: none;
        color: #262355;
        transition: 0.5s all cubic-bezier(0.36, -0.32, 0.23, 1.17); }
        .contact .form .contact-icons a:hover {
          color: #5b54cc; }
          .contact .form .contact-icons a:hover svg #background {
            fill: #5b54cc; }
        .contact .form .contact-icons a:first-of-type {
          grid-column: span 2; }
      .contact .form .contact-icons .icon-set {
        padding: 10px 0;
        border-radius: 2px;
        box-shadow: 0px 6px 12px -4px rgba(38, 35, 85, 0.75); }
        .contact .form .contact-icons .icon-set:hover {
          box-shadow: 0px 5px 8px -6px rgba(38, 35, 85, 0.75); }
        .contact .form .contact-icons .icon-set a {
          display: block; }
        .contact .form .contact-icons .icon-set svg {
          max-width: 50px;
          max-height: 50px;
          display: block;
          margin: 0 auto; }
          .contact .form .contact-icons .icon-set svg #background {
            fill: #5d5b7f; }
          .contact .form .contact-icons .icon-set svg #phone, .contact .form .contact-icons .icon-set svg #envelope, .contact .form .contact-icons .icon-set svg #text-lines {
            fill: #262355; }
        .contact .form .contact-icons .icon-set h4, .contact .form .contact-icons .icon-set p {
          text-align: center;
          margin: 0;
          padding: 0; }

.footer {
  background: linear-gradient(45deg, #161431, #5d5b7f); }
  .footer .socials svg * {
    fill: white; }
  .footer p {
    margin: 0;
    padding-bottom: .75em;
    color: white;
    text-align: center;
    font-size: .75em; }
